<div>
      <nav class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <div class="footer-title">For Talent</div>
            </div>
            <div class="col-md-3">
              <div class="footer-title">For Companies</div>
            </div>
            <div class="col-md-3">
              <div class="footer-title">Jobbatical</div>
            </div>
            <div class="col-md-3">
              <div class="footer-title">Follow Us</div>
            </div>
          </div>
          <div class="row footer-item-margin">
            <div class="col-md-3">
              <a href="/jobs/find/category/Programming" class="footer-item">
                Programming Jobs
              </a>
            </div>
            <div class="col-md-3">
              <a href="/company" class="footer-item">
                Company Homepage
              </a>
            </div>
            <div class="col-md-3">
              <a href="#" class="footer-item">
                Our Team
              </a>
            </div>
            <div class="col-md-3">
              <a href="#" class="footer-item">
                <i class="fa fa-twitter" aria-hidden="true"></i> Twitter
              </a>
            </div>
          </div>
          <div class="row footer-item-margin">
            <div class="col-md-3">
              <a href="/jobs/find/near/40.71/-74" class="footer-item">
                Jobs near New York, New York
              </a>
            </div>
            <div class="col-md-3">
              <a href="" class="footer-item">
                Our Process
              </a>
            </div>
            <div class="col-md-3">
              <a href="#" class="footer-item">
                Our Mission
              </a>
            </div>
            <div class="col-md-3">
              <a href="#" class="footer-item">
                <i class="fa fa-facebook" aria-hidden="true"></i> Facebook
              </a>
            </div>
          </div>
          <div class="row footer-item-margin">
            <div class="col-md-3">
              <a href="/jobs/find/category/Marketing" class="footer-item">
                Marketing Jobs
              </a>
            </div>
            <div class="col-md-3">
              <a href="" class="footer-item">
                Recruiter Tools
              </a>
            </div>
            <div class="col-md-3">
              <a href="mailto:chingu-bears-12@googlegroups.com" class="footer-item">
                Contact us
              </a>
            </div>
            <div class="col-md-3">
              <a href="https://github.com/chingu-coders/Voyage2-Bears-12" class="footer-item">
                <i class="fa fa-github" aria-hidden="true"></i> Github
              </a>
            </div>
          </div>
        </div>
      </nav>
      <nav>
        <div class="container">
          <div class="row footer-bottom">
            <div class="col-md-12">&copy; The Bears</div>
          </div>
        </div>
      </nav>
    </div>
  </div>