<!DOCTYPE html>
<html>
  <head>
    <title>CloneAttical</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>FreeCodeCamp</h1>
    <p>Company Info Page</p>
    <form action="/company/new" method="post">
        <label>Company Name</label>
            <input type="text" name="company-name"></input>
        <label>Company Industry</label>
            <input type="text" name="company-industry"></input>
        <label>Company Location:</label>
            <input type="text" name="company-location"></input>
        <button type="submit">Submit</button>
    
    </form>
  </body>
</html>
